node_modules/
**/node_modules/

dist/
**/dist/
build/
**/build/
coverage/
**/coverage/

.env
.env.*
!.env.example

serviceAccountKey.json

.next/
.nuxt/
.out/
.turbo/

.DS_Store
Thumbs.db
.vscode/
.idea/